<?xml version="1.0"?>
<launch>
	<node name="camera_publisher" pkg="jetson_slam" type="camera_publisher.py" output="screen"/>
	<!--ORB_SLAM2-->
	<node name = "ORB_SLAM2" pkg = "ORB_SLAM2" type = "Mono" args = "/home/jetson/car_ws/src/ORB_SLAM2/Vocabulary/ORBvoc.bin /home/jetson/car_ws/src/ORB_SLAM2/Examples/Monocular/jetson.yaml true false false" output = "screen">
	<remap from = "/camera/image_raw" to = "/camera/image_raw" />
	</node>
</launch>
